 body {background-color:gainsboro;
       border: 1px solid black;
       outline-style: double;
       outline-color: black;
}
      h1 {font-family:font76794;
          font-size: 64px;
          background-color: white;
       display:inline;
       box-shadow: 10px 10px 5px #888888;
       margin-bottom: 50px;
       margin-top: 20px;
      }
      p {font-family:helvetica;
         font-variant:small-caps;
         text-indent:26px;
         background-color: white;
       box-shadow: 10px 10px 5px #888888;
       margin: 20px, 0px, 0px;
      }
      h2 {font-family:helvetica;
          font-size: 26px;
          background-color: white;
       display:inline;
}
      ul { 
       font-family:helvetica;
       font-variant:small-caps;
       font-size: 16 px;
       text-align: left;
       background-color: white;
       display:inline;
}
      h3 {font-family:helvetica;
          font-size: 32px
}
      p2 { 
       font-family:helvetica; 
       background-color: white;
       display:inline;
}
