 body {background-color:gainsboro;}
      h1 {font-family:font76794;
          font-size: 64px;
      }
      p {font-family:helvetica;
         font-variant:small-caps;
         text-indent:26px
      }
      h2 {font-family:helvetica;}
      ul {font-family:helvetica;
          font-variant:small-caps;
      }
      h3 {font-family:helvetica;}
      p2 {font-family:helvetica;}
 table, th, td {
        text-align: left;
        color: #01426a
      }
