 body {
  background-color:gainsboro;
       border: 1px solid black;
       outline-style: double;
       outline-color: black;
}
hr {
 margin-top: 50px;
 margin-bottom: 50px;
}
      h1 {
       font-family:font76794;
          font-size: 64px;
          background-color: white;
       display:inline;
       box-shadow: 10px 10px 5px #888888;
       margin-top: 50px;
      }
      p {
       font-family:helvetica;
       display:inline;
         font-variant:small-caps;
         text-indent:26px;
         background-color: white;
       box-shadow: 10px 10px 5px #888888;
      }
      h2 {
       font-family:font114869;
          font-size: 32px;
          background-color: white;
       display:inline;
        margin-top: 100px;
       box-shadow: 10px 10px 5px #888888;
}
      ul { 
       font-family:helvetica;
       font-variant:small-caps;
       font-size: 16px;
       text-align: left;
}
      h3 {
       font-family:font114869;
          font-size: 32px;
       background-color: white;
       display:inline;
       box-shadow: 10px 10px 5px #888888;
}
      p2 { 
       font-family:helvetica; 
       background-color: white;
       display:inline;
}
